body {
    background-color: #fff7f7;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#mainHeading {
    color: #2A6A8E;
}

.highlight {
    color: #2A6A8E;
}

#introText {
    width: 471px;
    float: left;
}

#box {
    height: 90px;
    background: #2A6A8E;
    padding: 14px 0px 0px 0px;
    position: fixed;
    width: 3000px;
}

#name {
    color: #ffffff;
    font-family: glory;
    width: 230px;
    margin: 0px 0px 0px 400px;

}

#leftColum {
    width: 630px;
    float: left;
    margin-top: 130px;
}

#middleColum {
    width: 283px;
    float: left;
    margin-left: 30px;
    margin-top: 130px;
}

#rightColum {
    width: 472px;
    float: right;
    margin-top: 130px;
}

#Boxx {
    width: 427px;
    height: 107px;
    background: #e2eefc;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#apps {
    width: 427px;
    margin-right: 10px;

}

#socials {
    margin-left: 10px;

}

#box3 {
    width: 600px;
    height: 244px;
    background: #e2eefc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

#text {
    font-size: 20px;
}

#hobbies {
    font-size: 20px;
    margin-left: 20px;
}

.highlighttwo {
    color: #2A6A8E;
    font-size: 23px;

}

#page {
    font-size: 14px;
    color: #ffffff;
}